// FRONTEND - src/styles/components/_ownerSidebar.scss

@use '../variables' as *;

.owner-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1.25rem;
  background: $color-bg-sidebar;
  color: $color-text-invert;
  border-right: 1px solid rgba(15, 23, 42, 0.9);
  box-shadow: 16px 0 40px rgba(15, 23, 42, 0.8);
}
//.owner-sidebar__brand {
//  display: flex;              // ✅ active le flex
//  flex-direction: column;     // ✅ empile verticalement
//  justify-content: center;    // ✅ centre verticalement
//  line-height: 1.1;           // ✅ évite l’effet "écrasé"
//}
.owner-sidebar__brand-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: $color-text-invert;
  margin-right:10px;
}

.owner-sidebar__brand-subtitle {
  font-size: 0.75rem;
  color: rgba(148, 163, 184, 0.9);
  margin-top: 2px;
}

.owner-sidebar__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.9rem;
  font-size: 0.9rem;
  color: rgba(209, 213, 219, 0.9);
  text-decoration: none;
  transition: background 0.15s ease, color 0.15s ease, transform 0.1s ease;
}

.owner-sidebar__item:hover {
  background: rgba(148, 163, 184, 0.16);
  color: #ffffff;
  transform: translateX(2px);
}

.owner-sidebar__item--active {
  background: linear-gradient(90deg, $color-primary, $color-accent);
  color: #ffffff;
  box-shadow: 0 0 30px rgba(79, 70, 229, 0.7);
}
.owner-sidebar__nav--bottom {
  margin-top: auto; // ✅ FORCE le bloc tout en bas
  padding-top: 1.25rem;
    padding-bottom: 3.5rem;
  border-top: 1px solid rgb(255, 255, 255);
}

/* ✅ Style spécial pour le bouton Déconnexion */

.owner-sidebar__nav--bottom .owner-sidebar__item:last-child {
  background: rgba(20, 45, 90, 0.29); //
  color: #ffffff;
}

.owner-sidebar__nav--bottom .owner-sidebar__item:last-child:hover {
  background: rgba(239, 68, 68, 0.35);
  color: white;
  box-shadow: 0 0 14px rgba(239, 68, 68, 0.5);
}
