// src/styles/main.scss
// Fichier racine des styles : on importe tout ici.

// Variables globales (couleurs, rayons, breakpoints)
@use './variables';

// Mixins globaux
@use './mixins';

// Composants
@use './components/ownerSidebar';

// Pages
@use './pages/ownerDashboard';

// Plus tard, tu ajouteras ici :
 //@use './components/navbar';
 //@use './pages/auth';
// @use './pages/landing';
// etc.
