// src/styles/main.scss
// Fichier racine des styles : on importe tout ici.

// Variables globales (couleurs, rayons, breakpoints)
@use './variables';

// Mixins globaux
@use './mixins';

// Composants
@use './components/ownerSidebar';

// Pages
@use './pages/ownerDashboard';
@use './pages/ownerAppointments';
@use './pages/ownerServices';
@use "./pages/ownerClients";

@use './pages/landing';
@use "./pages/clientRdvs";
@use './pages/clientGallery';

@use "./components/ownerServiceModal";
@use "./components/clientModals";

// Plus tard, tu ajouteras ici :
 //@use './components/navbar';
 //@use './pages/auth';
// @use './pages/landing';
// etc.
